@import './font.css';
html,
body {
  background-color: var(--my-bg-color);
  padding: 0;
  margin: 0;
}

:root {
  --my-primary-color:#0049a5;
  --my-primary-2-color:#ffffff;
  --my-secondary-color:#D0A617;
  /*--my-secondary-color:#B0002B;*/
  --my-secondary-2-color: #FFEFCA;
  --my-skip-color:#008A64;
  --my-skip-2-color: #23C197;
  --my-bg-color: #F7F8FF;
  --my-text-color: #444655;
  --my-text-second-color:#bdbdbd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: karnik;
  direction: rtl;
  box-sizing: border-box; 
}

